#d1 {
    height: 300px;
    width: 300px;
    background-color: aqua;
    animation-name: atm;
    animation-duration: 30s;
    animation-direction: alternate;
}

@keyframes atm {
    from {
        background-color: aqua;
    }
    to {
        background-color: palevioletred;
    }
}

p {
    color: blue;
    animation-name: pt;
    animation-duration: 33s;
}

@keyframes pt {
    from {
        color: blue;
    }
    to {
        color: yellow;
    }
}