        body {
            background-color: grey;
            padding-left: 370px;
        }
        
        #d1 {
            height: 700px;
            width: 560px;
            background-color: rgb(17, 15, 15);
            color: white;
            border-radius: 10px;
        }
        
        h1 {
            text-align: center;
        }
        
        #reg {
            height: 35px;
            width: 70px;
            background-color: rgb(95, 186, 216);
            color: white;
            border-radius: 8px;
        }