* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(47, 47, 252);
    color: white;
}

h1 {
    height: 100px;
    width: 300px;
    background-color: grey;
    text-align: center;
    animation: anim 3s linear infinite;
    border-radius: 50px;
}

@keyframes anim {
    0% {
        transform: rotate(360deg);
    }
}

#d1 {
    padding-top: 200px;
    padding-left: 200px;
}

#d2 {
    padding-top: 280px;
    padding-left: 250px;
}