    body {
        background-color: rgb(202, 231, 217);
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    #d1 {
        height: 80px;
        width: 100%;
        background-color: rgb(56, 155, 106);
    }
    
    .n1 {
        height: 40px;
        width: 150px;
        float: left;
        padding-top: 10px;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: rgb(2, 71, 25);
    }
    
    #nav {
        float: right;
    }
    
    #d2 {
        height: 1300px;
        width: 100%;
        background-image: url("img/kunjettaii.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px;
        color: aliceblue;
    }
    
    h2 {
        height: 30px;
        width: 100%;
        text-align: center;
    }