body {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

#d1 {
    background-image: url(img1.jpg);
    height: 400px;
    width: 600px;
    background-size: cover;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
}

#D1 {
    padding-left: 400px;
    padding-top: 100px;
}

#d11 {
    height: 70px;
    width: 97%;
}

.n1 {
    height: 70px;
    width: 70px;
    float: left;
    text-align: center;
}

a:link {
    text-decoration: none;
}

#nav {
    float: right;
    height: 70px;
    width: 310px;
}

#d12 {
    height: 230px;
    width: 230px;
    background-image: url(img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#D2 {
    padding-left: 40px;
    height: 300px;
    width: 230px;
    float: left;
}

#d13 {
    height: 60px;
    width: 150px;
    float: left;
    background-color: black;
}

#d14 {
    height: 60px;
    width: 80px;
    float: left;
    background-color: goldenrod;
}

#h1 {
    color: goldenrod;
    float: left;
    height: 10px;
    width: 10px;
}

#h2 {
    color: goldenrod;
    float: left;
    height: 10px;
    width: 10px;
}

#h3 {
    float: left;
    height: 10px;
    width: 70px;
    padding-left: 25px;
}

#hh {
    padding-left: 20px;
}

#D3 {
    height: 300px;
    width: 280px;
    float: left;
    padding-left: 30px;
}

#d33 {
    height: 40px;
    width: 160px;
    float: left;
    background-color: aliceblue;
}

#d34 {
    height: 40px;
    width: 110px;
    float: left;
    background-color: goldenrod;
}

#b1 {
    background-color: grey;
    color: white;
    height: 30px;
    width: 60px;
}

#h8 {
    color: grey;
}

#h6 {
    color: grey;
    align-items: center;
}

#h7 {
    padding-left: 20px;
}