    body {
        background-image: url(img5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #d1 {
        height: 95%;
        width: 700px;
        float: left;
        /* border: 1px solid black; */
    }
    
    a:link {
        text-decoration: none;
    }
    
    .n1 {
        height: 60px;
        width: 80px;
        text-align: center;
        float: left;
    }
    
    #h1 {
        float: left;
        color: white;
    }
    
    #nav {
        padding-top: 20px;
    }
    
    #d11 {
        padding-left: 280px;
        height: 80px;
    }
    
    a:visited {
        color: white;
    }
    
    #d2 {
        height: 500px;
        width: 700px;
    }
    
    #d22 {
        padding-left: 90px;
        padding-top: 150px;
    }
    
    #h2 {
        font-weight: 800;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: white;
    }
    
    #h3 {
        font-size: 15px;
        letter-spacing: 1px;
        color: white;
    }
    
    #b1 {
        height: 50px;
        width: 150px;
        background-color: springgreen;
        color: white;
    }
    
    #d3 {
        height: 90%;
        width: 600px;
        float: left;
        background-image: radial-gradient(#fafafa 6%, transparent 6%);
        background-size: 20px 20px;
        width: 600px;
    }
    
    #l1 {
        height: 40px;
        width: 50px;
        float: left;
        text-align: center;
        /* padding-top: 10px; */
    }
    
    #b2 {
        height: 40px;
        width: 130px;
        float: left;
        background-color: rgb(160, 71, 248);
        border: 1px solid white;
        color: white;
    }
    
    #d31 {
        padding-left: 280px;
    }
    
    #d311 {
        height: 70px;
    }
    
    #d32 {
        float: left;
        padding-left: 30px;
    }
    
    #d33 {
        float: left;
        padding-top: 150px;
        padding-left: 60px;
    }
    
    #im1 {
        height: 210px;
        width: 170px;
    }
    
    #im2 {
        height: 210px;
        width: 170px;
    }
    
    #im3 {
        height: 210px;
        width: 170px;
    }
    
    #im4 {
        height: 210px;
        width: 170px;
    }
    
    #im5 {
        height: 210px;
        width: 170px;
    }