  table {
      border-collapse: collapse;
  }
  
  table,
  th,
  td {
      border: 1px solid white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  td,
  th {
      padding: 15px;
  }
  
  .c1 {
      text-align: center;
      width: 150px;
  }
  
  .c2 {
      text-align: center;
      width: 150px;
      font-weight: 600;
      font-size: 25px;
      color: goldenrod;
  }
  
  .c3 {
      text-align: center;
      width: 150px;
      font-weight: 600;
      font-size: 35px;
  }
  
  #d1 {
      font-size: 40px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 700;
      color: white;
  }
  
  body {
      background-color: rgb(12, 11, 11);
  }
  
  #div1 {
      padding-left: 170px;
  }
  
  td {
      background-color: rgb(22, 20, 20);
      color: white;
  }
  
  #d2 {
      background-color: white;
      color: black;
  }
  
  #d3 {
      background-color: rgb(250, 217, 27);
      color: white;
  }
  
  #d4 {
      background-color: rgb(223, 14, 14);
      color: white;
  }
  
  #d5 {
      background-color: rgb(21, 21, 207);
      color: white;
  }
  
  #d6 {
      color: yellow;
      font-weight: 600;
      font-size: 30px;
  }
  
  #d7 {
      color: red;
      font-weight: 600;
      font-size: 30px;
  }
  
  #d8 {
      color: blue;
      font-weight: 600;
      font-size: 30px;
  }
  
  .b1 {
      border-radius: 20px;
      height: 35px;
      width: 100px;
      color: white;
      background-color: rgb(209, 17, 17);
  }